Dr strange appointments UI.json
{
  "name": "Dr strange appointments UI",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body }}",
        "options": {
          "systemMessage": "=#Role\n\nYou are a smart and helpful receptionist agent for Dr. Strange Physiotherapy Clinic.\n\nYou operate in a UI-driven flow, where all patient details are already collected from the frontend.\n\nYou must not ask follow-up questions to the user.\n\n#How to Behave / What to Do\n\nDo not initiate conversation or ask questions.\n\nReceive all required patient and appointment details directly from the UI submission.\n\nValidate the received data silently in the backend.\n\nCheck if the patient already exists in the database.\n\nIf the patient does not exist, store all received details.\n\nIf the patient already exists, update existing details (excluding reason for appointment).\n\nCheck Dr. Strange’s calendar for availability using the available tools.\n\nApply all business rules and constraints.\n\nIf the appointment is valid:\n\nBlock the confirmed slot in the calendar.\n\nUpdate the appointment details in Google Sheets.\n\nSend a confirmation email to the patient.\n\nReturn a success response to the UI.\n\nIf the appointment is invalid:\n\nDo not block the calendar.\n\nDo not update Google Sheets.\n\nReturn a short, clear rejection reason to the UI.\n\nNever disclose or expose any other patient’s data in responses.\n\n#Tools Available\n\nget events\n\nCheck existing calendar events only to determine availability.\n\nDo not expose any event or patient details.\n\ncreate new events\n\nBlock the confirmed appointment slot.\n\nupdate google sheets\n\nStore or update patient and appointment details.\n\nsend mail\n\nSend appointment confirmation emails on successful booking.\n\n#Tone\n\nProfessional\n\nPolite\n\nCaring\n\nConcise\n\n#Important Information\n\nCurrent date and time: {{ $now }}\n\nClinic working hours: 9:00 AM to 5:00 PM.\n\nAppointments are not allowed:\n\nBefore 9:00 AM or after 5:00 PM\n\nOn Saturdays, Sundays, or public holidays\n\nBetween 1:00 PM and 2:00 PM (lunch break)\n\nEach appointment must be exactly 30 minutes.\n\nNever block more than 30 minutes.\n\nEdge Case Handling Logic (UI Mode)\n\nIf no slots are available, return:\n“Selected time slot is unavailable. Please choose a different time.”\n\nIf request is outside working hours, return:\n“Appointments are only available between 9:00 AM and 5:00 PM.”\n\nIf request is on a weekend or public holiday, return:\n“Appointments are not available on weekends or public holidays.”\n\nIf request overlaps lunch break, return:\n“Selected time falls during lunch break. Please choose another slot.”\n\nIf request is for a past date, return:\n“Appointments cannot be booked for past dates.”\n\nIf double booking is detected, return:\n“The selected slot has already been booked.”\n\nIf any tool fails (calendar, email, or Google Sheets), return:\n“We are unable to process your request at the moment. Please try again later.”\n\nOn successful booking, return:\n“Your appointment has been successfully booked. A confirmation email has been sent.”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        16
      ],
      "id": "a40d46da-a35f-4a64-8f3f-2c28ee063143",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        96,
        208
      ],
      "id": "121992f2-63b8-44b7-8d44-40b7343dd9f7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Mh2ofM2iilVie5ow",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "8584924861:AAGayBjbR3CvC8l4ovtCe-uxUmO1k3BLNEs",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        240
      ],
      "id": "bf5c53d0-1a91-467a-8108-092c23b42d8a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "kolluruanudeepika1304@gmail.com",
          "mode": "list",
          "cachedResultName": "kolluruanudeepika1304@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        368,
        208
      ],
      "id": "1317a3ad-5672-4ca4-939b-ff435f406e93",
      "name": "Create new events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "g68GE8DklgjmC3L2",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "kolluruanudeepika1304@gmail.com",
          "mode": "list",
          "cachedResultName": "kolluruanudeepika1304@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        464,
        224
      ],
      "id": "ad7ca301-25d3-47b4-b3d7-16661a26b8c8",
      "name": "get events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "g68GE8DklgjmC3L2",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        688,
        192
      ],
      "id": "cecd330a-39e5-491e-89c9-f4d2d61d9176",
      "name": "Send mail",
      "webhookId": "cb8a5c03-2248-459b-baaa-3731e19c1d28",
      "credentials": {
        "gmailOAuth2": {
          "id": "TMUA5baa6qCuRWwz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1TUoMrY0qMIogy6ZYUabZHIQmjenp9JmWHj90Jl3GntA",
          "mode": "list",
          "cachedResultName": "patient database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUoMrY0qMIogy6ZYUabZHIQmjenp9JmWHj90Jl3GntA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUoMrY0qMIogy6ZYUabZHIQmjenp9JmWHj90Jl3GntA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Age": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Age', ``, 'string') }}",
            "Gender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Gender', ``, 'string') }}",
            "Symptoms": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Symptoms', ``, 'string') }}",
            "Prescription": "=",
            "Contact number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contact_number', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Symptoms",
              "displayName": "Symptoms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prescription",
              "displayName": "Prescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact number",
              "displayName": "Contact number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        576,
        208
      ],
      "id": "bfb4f374-d183-407e-b4a6-d0a44df4c8a4",
      "name": "update google sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "t6LdducfrFyzu35g",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "34f8fa60-d988-4b1a-ab28-09a6234a1a67",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        48
      ],
      "id": "ec2478de-2884-48a4-8c4c-ea4e1f5563b5",
      "name": "Webhook",
      "webhookId": "34f8fa60-d988-4b1a-ab28-09a6234a1a67"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        16
      ],
      "id": "01d75efa-15ea-4be2-9623-24ec5405a1b3",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create new events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send mail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update google sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2bcb224e-e617-4d95-84ef-398c2fb38783",
  "meta": {
    "instanceId": "cf9181f4f39bb775d50d12999cd876c670df572b2a347d53bda2d16c8bcd50f8"
  },
  "id": "7C7Dojp7OCdyJlIqGn-9l",
  "tags": []
}