Dr strange appointmentsTelegram.json
{
  "name": "Dr strange appointmentsTelegram",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=#Role\nYou are a smart and helpful receptionist agent for Dr. Strange Physiotherapy Clinic.\n\n#How to Behave / What to Do\nGreet the patient with the message, “Welcome to Dr Strange’s Clinic. How can I help you?” only once at the beginning of a chat session.\n\nHandle patient requests to schedule appointments with Dr. Strange.\nBefore confirming any appointment, ask the patient for required details:\n\nPatient name\n\nPhone number\n\nEmail address\n\nReason for appointment\n\nCheck if the patient already exists in the database.\n\nIf the patient does not exist, collect and store all patient details.\n\nIf the patient already exists, ask for all details except the reason for appointment and update the existing record.\nCheck free slots in Dr. Strange’s calendar using the available tools.\n\nSuggest suitable available time slots for the requested date.\n\nBlock the calendar once the patient confirms a slot.\n\nUpdate the confirmed appointment details in Google Sheets.\n\nSend a confirmation email to the patient with complete appointment details.\n\n\n#Tools Available\nget events:\n\nCheck existing events in the calendar.\n\nIdentify available time slots.\n\ncreate new events:\n\nBlock the confirmed appointment slot in the calendar.\n\nupdate google sheets:\n\nStore appointment details after confirmation.\n\nsend mail:\n\nSend appointment confirmation emails to patients.\n\n#Tone\n\nBe professional.\n\nBe polite.\n\nBe caring.\n\n#Important Information\n\nCurrent date and time: {{ $now }}\n\nClinic working hours: 9:00 AM to 5:00 PM.\n\nReject requests before 9:00 AM or after 5:00 PM and ask the patient to choose another day.\n\nDo not allow appointments on Saturdays, Sundays, or public holidays.\n\nDo not allow appointments between 1:00 PM and 2:00 PM (doctor’s lunch break).\n\nEach appointment must be exactly 30 minutes.\n\nDo not block more than 30 minutes for any appointment.\n\n#Edge Case Handling:\n\nIf no slots are available on the requested date, suggest alternative dates.\n\nReject booking requests outside working hours, during lunch time, or on non-working days.\n\nDo not allow bookings for past dates.\n\nPrevent double booking by rechecking availability before confirmation.\n\nEnsure all required patient details are collected before booking.\nPrevent double booking by rechecking availability before confirmation.\n\nDo not confirm any appointment until required patient details are collected.\n\nEnsure patient privacy by never exposing other patients’ names, contact details, or appointment information.\n\n\nIf any tool fails (calendar, email, or Google Sheets), inform the patient politely and retry or ask them to try again later."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        112,
        48
      ],
      "id": "017a9eec-d427-4379-99e4-ce4b23ac6aae",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        240
      ],
      "id": "a7b9e0f5-3079-40aa-bfa1-9ce256423ec7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Mh2ofM2iilVie5ow",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "8584924861:AAGayBjbR3CvC8l4ovtCe-uxUmO1k3BLNEs",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        272
      ],
      "id": "2dc82fe4-21db-402c-98b5-87140353053c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "kolluruanudeepika1304@gmail.com",
          "mode": "list",
          "cachedResultName": "kolluruanudeepika1304@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        304,
        240
      ],
      "id": "febbec90-e346-4d97-92e8-3398b4685529",
      "name": "Create new events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "g68GE8DklgjmC3L2",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "kolluruanudeepika1304@gmail.com",
          "mode": "list",
          "cachedResultName": "kolluruanudeepika1304@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        400,
        256
      ],
      "id": "a48a5273-d5c8-49d9-83ea-c724969486ae",
      "name": "get events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "g68GE8DklgjmC3L2",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        624,
        224
      ],
      "id": "dd4f2c5a-9bd5-45ce-bb85-b204bff78c2d",
      "name": "Send mail",
      "webhookId": "cb8a5c03-2248-459b-baaa-3731e19c1d28",
      "credentials": {
        "gmailOAuth2": {
          "id": "TMUA5baa6qCuRWwz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1TUoMrY0qMIogy6ZYUabZHIQmjenp9JmWHj90Jl3GntA",
          "mode": "list",
          "cachedResultName": "patient database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUoMrY0qMIogy6ZYUabZHIQmjenp9JmWHj90Jl3GntA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUoMrY0qMIogy6ZYUabZHIQmjenp9JmWHj90Jl3GntA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Age": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Age', ``, 'string') }}",
            "Gender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Gender', ``, 'string') }}",
            "Symptoms": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Symptoms', ``, 'string') }}",
            "Prescription": "=",
            "Contact number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contact_number', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Symptoms",
              "displayName": "Symptoms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prescription",
              "displayName": "Prescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact number",
              "displayName": "Contact number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        512,
        240
      ],
      "id": "bc40e807-8986-4d55-9a41-8cb386c70137",
      "name": "update google sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "t6LdducfrFyzu35g",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -64,
        48
      ],
      "id": "f7334f82-7db7-4537-a983-f8ac663fd5d2",
      "name": "Telegram Trigger",
      "webhookId": "b70a8535-7940-4bdf-89ca-b01d43ddf30c",
      "credentials": {
        "telegramApi": {
          "id": "FgwnwaKPOUw4fyDo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        48
      ],
      "id": "b2de5ea6-1a4c-4961-8cd3-4cdc833ac1d2",
      "name": "Send a text message",
      "webhookId": "de06fe33-199f-477a-af90-e416eb3025b0",
      "credentials": {
        "telegramApi": {
          "id": "FgwnwaKPOUw4fyDo",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create new events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send mail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update google sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "174537a8-e223-4e83-8507-b833b26038e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf9181f4f39bb775d50d12999cd876c670df572b2a347d53bda2d16c8bcd50f8"
  },
  "id": "wBbO_mAAz2cjqgJniofpi",
  "tags": []
}