llm_rag.json
{
  "name": "llm_rag",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1rgpXPPUhVbOHrXOlbrgEiwlpzlNaseBL",
          "mode": "list",
          "cachedResultName": "miap",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rgpXPPUhVbOHrXOlbrgEiwlpzlNaseBL"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3b0ffc61-ca14-403e-abae-eac347ac031f",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZdrRXieBf99xs7xL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "80b66e42-5ad4-4031-a26f-fd8588a96764",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZdrRXieBf99xs7xL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nrag",
          "mode": "list",
          "cachedResultName": "n8nrag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "08e67667-85c8-4c89-a5ff-a4e9676fcec6",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "LiuTOo5ojmv42WoF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "fe2ba85e-087a-40b5-bfcc-5f662bcbb96a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        592,
        352
      ],
      "id": "46a03d00-60e0-4b8d-832b-c3f440a2e169",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        208
      ],
      "id": "a8dd9572-e7bd-4d07-a83c-192798abeee0",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "yJdiuKhhEuLyupzY",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        944,
        64
      ],
      "id": "0618bfcf-3b2d-4387-94f2-281065bd95d2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        848,
        240
      ],
      "id": "573d3417-0e1d-416e-a011-e11082879a57",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yJdiuKhhEuLyupzY",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        992,
        240
      ],
      "id": "7e61baf6-3a9e-459f-872d-c331a1496130",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        800,
        64
      ],
      "id": "eb068b64-8450-4581-8d34-7ab9e0761768",
      "name": "When chat message received",
      "webhookId": "8c3c5494-c079-4706-9be7-b09479212824"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "use this database to fetch relevant and specific information according to user prompt",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nrag",
          "mode": "list",
          "cachedResultName": "n8nrag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1104,
        256
      ],
      "id": "5b5c96a4-2a6a-4355-834b-0275cb723174",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "LiuTOo5ojmv42WoF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1200,
        368
      ],
      "id": "8a4a6d92-d0d5-4dfb-b2fa-83e776cff87f",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "yJdiuKhhEuLyupzY",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6a816d0d-946b-491c-b875-80b147c4cf44",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5dbdf11205472c37d0c08627a3c57940be302f4f37b3bbdbd5c8f85ddf6450bf"
  },
  "id": "GcHI445LyGsVcmmzkwLw7",
  "tags": []
}